

body {
    max-width: 800px;
  margin: 20px auto;
  background-image: linear-gradient(rgb(116, 235, 243), rgb(255, 195, 138));
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
      
  html{
    background-color: #e0edf8;
  }

header{
    margin-top: -50px;
    margin-bottom: -5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;

}
.main-header {
    margin-top: -100px;
    margin-bottom: -10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0px;
    align-content: center;
    align-items: center;
    gap: 1px;
  
}

    

div {
    text-align: justify;
}



.section-content {
    margin: 10px;
    text-align: center;
}

.section-item {
    margin-bottom: 8px;
   
}



.formula {
    font-style: italic;
    font-size: x-large;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    box-sizing: border-box;
    border: 3px solid red;
    border-radius: 15px;
    background-color: #e0edf8;
    font-size: 16px;
    resize: none;
}


button {
    padding: 8px;
    border-radius: 8px;
    margin-right: 10px;
}

.bg-1 {
    background-color: rgb(163, 243, 116);
    border-color: rgb(24, 22, 21);
    border-radius: 15px;
}

.bg-2 {
    background-color: rgb(233, 116, 116);
    border-color: rgb(24, 22, 21);
    border-radius: 15px;
}

.bg-3 {
    background-color: rgb(241, 243, 96);
    border-color: rgb(24, 22, 21);
    border-radius: 15px;
}





@media only screen and (max-width: 480px) {
    #form-action {
        display: flex;
        flex-direction: column;
    }
}
 

@media only screen and (min-width: 480px) {
    #form-action {
        display: flex;
        flex-direction: row;
    }
}

footer{
    margin-top: 10px;
    font-size: small;
    text-align: center;
}